
html {
    overflow-y: scroll;
    height: 100%;
    margin: 0px auto;
    padding: 0;
}

body {
    height: 100%;
}

#title-row {
    height: 100px;

    background: #2980b9;

    border: #cdcdcd medium solid;
    border-radius: 10px;
    text-overflow: ellipsis;
}

#content-row {
    background-color: rgba(191, 225, 244, 0.81);
    height: 1100px;

    border: #cdcdcd medium solid;
    border-radius: 10px;
    text-overflow: ellipsis;
}

.column-border {
    border: #cdcdcd medium solid;
    text-overflow: ellipsis;
    overflow: hidden;
}